
/* Pagination section */
.pagination span{
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--heading);
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 700;
}

.active__page {
    background: var(--secondary-color);
    color: #fff !important;
}
